    body {
        margin: 0;
        padding: 0;
        font-family: Roboto;
    
    }
    .header, .herosection, footer{
        background-color: #1f2937;
        color: #f9faf8;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;

    }

    .logo{
        font-size: 24px;
    }

    .herosection{
        display: flex;
        justify-content: space-between;
        justify-content: space-between;
        padding: 10px 200px;
        padding-bottom: 100px;
        padding-top: 30px;
        
    }

    .hero-content{
        max-width: 50%;
        font-size: 18px;
        
    }

    .hero-content h1{
        font-size: 48px;
        font-weight: 900;
        
    }

    .hero-content p{
        color: #e5e7eb;
        max-width: 60%;
        
    }

    .hero-content .btn{
        border-radius: 8px;
        background-color: #3882f6;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
        
    }


    .image-placeholder img{
        margin-left: 300px;
        
        max-width: 500px;
        
    }



    .section-1, .section-3{
        display: flex;
        background-color: #f9faf8;
    }


    .section-1 {
        display: block;
    }

    .section-1 h1{
        text-align: center;
    }

    .section-1-pictures-container{
        display: flex;
        justify-content: center;
        gap: 20px;
        
    }

    .section-1-pictures-container h4{
        max-width: 80%;
        text-align: center;
    }

    .section-1-pictures-container img{
        display: flex;        width:  100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #3882f6;
    border-radius: 10px;
    }
    


    .section-1-pictures{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }




    .section-2{
        display: flex;
        background-color: #e5e7eb;
    }



    footer{
        display: flex;
    }
    ul{
        list-style-type: none;
        display: flex;
        gap: 16px;
        font-size: 18px;
    }
    a{
        color: #f9faf8;
        text-decoration: none;
    }

